{% extends 'base.html' %}
{%if g.user %}
{% block header %}
  <h1>{% block title %}BinEco, be clean!{% endblock %}</h1>
{% endblock %}

{% block content %}

<body
style="background-image: url('static/pete-willis-7XjahX2diCA-unsplash.jpg');">
<h2><font face="Letter Spacing" color="white" size="90px" >
<p align="justify"><br><br><br><br>BinEco <br></p>
<h4> BinEco is a web app that will help you in managing the distribution and organization of the bins in your city.</h4>
<p> this shoul be the page of non registered user</p>
</font> </h2>
</div>
</label> 
 </form>
{% endblock %}
{% endif %}