{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}BinEco-Bar plot{% endblock %}</h1>
  {% endblock %}

{% block content %}
<body bgcolor= "#d3d3d3">
<h2>What is shown in the plot</h2>
<p>In the page just opened, you can see the result of statistical analysis regarding litter points contained in the selected bin's buffer.
<br>Low, medium, high quantity bars are displayed plus a None quantity bar which represents the absence of litter in the buffer.
<br> Each bar refers to the corresponding litter quantity's absolute frequency computed in a 30 days temporal window.
<br> Horizontal lines represent litter quantities' thresholds
</p>
<p>  </p>
<h2>How to read the bar plot</h2>
<p>If low, medium and high bars overcome their corresponding thresholds, an infographic is needed: you should UPDATE BIN
<br><br>If None bar doesn't overcome its corresponding threshold that means that there are not enought days without litter over a month, an infographic is needed: you should UPDATE BIN
</p>
</div>
</label> 
 </form>
{% endblock %}
