{% extends 'base.html' %}
{%if g.user %}
{% block content %}

<body>
<img src="static/recycle_tree.jpg"
  style="float:right;margin: 10px" height="600" style="background:transparent;"/>
<h2><font face="Letter Spacing" color="#00AC2F" size="90px" ></font>BinEco, be clean! </h2>
<p align="justify"><br></p>
<h3><font face="Letter Spacing" color="#00AC2F" size="60px"></font> BinEco is a web app that will help you in managing the distribution and organization of the bins in your city.</h3>
<p> You will be able to:</p>
<ul>
    <li>Visualize the distribution of the litter</li>
    <li>Visualize the distribution of the bins classified as critical or non critical</li>
    <li>Show the statistical analisys and update the bin by clicking on it in the map </li>
    <li>Add a new bin</li>
</ul>
<h3> Join us!</h3>
</div>
</label> 
 </form>
{% endblock %}
{% endif %}