{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}BinEco-Map{% endblock %}</h1>
  {% endblock %}

{% block content %}
<body bgcolor= "#d3d3d3">
<h2>How to use the interactive map</h2>
<p>In the page just opened, you can see two maps:
<ul>
    <li> on the left the map of litter points retreived from Epicollect5 project</li>
    <li> on the right the map of the bins colored in red if they are critical and in green if they are not</li>
</ul>
</p>
<p>Passing on the points some useful information about the data are shown</p>
<p> By clicking on the bin's point you can access the analysis page by inserting the ID of the chosen bin</p>
  
</div>
</label> 
 </form>
{% endblock %}
