{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New bin{% endblock %}</h1>
{% endblock %}

{% block content %}
<body style="background-image: url('static/pete-willis-7XjahX2diCA-unsplash.jpg');"></body>
  <form method="post">
    <div class="formClass">
        <label for="lon">Longitude</label>
        <input name="lon" id="lon" value="{{ request.form['lon'] }}" required>
        <br>
    </div>
    <div class="formClass">
        <label for="lat">Latitude</label>
        <input name="lat" id="lat" value="{{ request.form['lat'] }}" required>
        <br>
    </div>
    
    <input type="submit" value="Save">
  </form>
{% endblock %}
