

<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
            <div class="container">
            <div class="signup">
                <h2 class="title" id="login"><span>or</span>Welcome back!</h2>
                <div class="holder">
                    <input type="text" class="input" placeholder="postal code" />
                    <input type="password" class="input" placeholder="Password" />
                </div>
                <button class="submit">login</button>
            </div>
            <script src="BinEcoCode.py"></script>
    </body>
</html>