{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}BinEco-Comments{% endblock %}</h1>
  {% if g.user %}
    <span>{{ g.user['user_name'] }}</span>
    <a class = "action" href="/createComment"> help_us improve!</a>
  {% endif %}
{% endblock %}

{% block content %}
<body bgcolor= "#d3d3d3">

  {% for comment in comments %}
    <article class="post">
          <header>
              <div>
          <h1>{{ comment[3] }}</h1>
          <div class = "about">by {{ comment[1] }} on {{ comment[2].strftime('%Y-%m-%d') }}</div>
        </div>
	<!--{% if g.user[0] == comment[1] %}-->
        <a class = "action" href="{{ url_for('update_comment', id=comment[0]) }}">Edit</a>
     <!--   {% endif %}-->
      </header>
      <p class = "body" bgcolor="#bbd0c9">{{ comment[4] }}</p>
    {% if loop.last %}
    </article>
        {% if not loop.last %}
      <hr>
    {% endif %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}


